<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">EPL Central</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/players">Players</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/seasons">Seasons</a></li>
                <li class="active"><a href="/champions">Champions</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

        </div>
        <div class="col-sm-8 text-left">
            {{!-- Create a table --}}
            <table>

                {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we
                    know what each column means when the page renders --}}
                    <tr>
                        <th>ID</th>
                        <th>Season ID</th>
                        <th>Team ID</th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                    {{#each data}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.fname}}</td>
                        <td>{{this.lname}}</td>
                        <td>{{this.homeworld}}</td>
                        <td>{{this.age}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 sidenav">
            {{!-- Form to add a record to the table --}}
            <h2>Adding a New Champion</h2>
            <form id="add-person-form-ajax">
                <label for="input-fname">First Name: </label>
		<br>
                <input type="text" name="input-fname" id="input-fname">
		<br>
                <label for="input-lname">Last Name: </label>
		<br>
                <input type="text" name="input-lname" id="input-lname">
		<br>
                <label for="input-homeworld">Homeworld: </label>
		<br>
                <input type="number" name="input-homeworld" id="input-homeworld">
		<br>
                <label for="input-age">Age: </label>
		<br>
                <input type="number" name="input-age" id="input-age">
		<br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>