<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">EPL Central</a></li>
                <li><a href="/teams">Teams</a></li>
                <li class="active"><a href="/players">Players</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/seasons">Seasons</a></li>
                <li><a href="/champions">Champions</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            {{!-- Create a table --}}
            <table id="players-table">

                {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we
                    know what each column means when the page renders --}}
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{!-- For each row --}}
                    {{#each data}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.playerFname}}</td>
                        <td>{{this.playerLname}}</td>
                        <td>{{this.teamID}}</td>
                        <td>{{this.nationality}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 sidenav">
            {{!-- Form to add a record to the table --}}
            <h2>Add a new Top Player</h2>
            <p>To add a new Top Player, please enter their information below and click 'Submit'!</p>
            <form id="add-player-form">
                <label for="input-playerFname">First Name: </label>
                <input type="text" name="input-playerFname" id="input-playerFname">

                <label for="input-playerLname">Last Name: </label>
                <input type="text" name="input-playerLname" id="input-playerLname">

                <label for="input-teamID">Team ID: </label>
                <input type="number" name="input-teamID" id="input-teamID">

                <label for="input-nationality">Nationality: </label>
                <input type="text" name="input-nationality" id="input-nationality">

                <input type="submit">
            </form>
        </div>
    </div>
</div>
<script src="/public/scripts/add_player.js"></script>