<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">EPL Central</a></li>
                <li><a href="/teams">Teams</a></li>
                <li class="active"><a href="/players">Players</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/seasons">Seasons</a></li>
                <li><a href="/champions">Champions</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

        </div>
        <div class="col-sm-8 text-left">
            {{!-- Create a table --}}
            <table id="players-table">

                {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we
                    know what each column means when the page renders --}}
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Team ID</th>
                        <th>Nationality</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{!-- For each row --}}
                    {{#each data}}
                    <tr id="player-info-tablerow">
                        <td id="player-ID">{{this.id}}</td>
                        <td>{{this.playerFname}}</td>
                        <td>{{this.playerLname}}</td>
                        <td>{{this.teamID}}</td>
                        <td>{{this.nationality}}</td>
                        <td class="input-td">
                            <input id="delete-data" type="submit" value="Delete">
                        </td>
                        <td class="input-td">
                            <input class="update-data-class" id="update-data" type="submit" value="Update" data-toggle="modal"
                                data-target="#update-modal">
                            <div class="modal fade" id="update-modal" tabindex="-1" role="dialog"
                                aria-labelledby="update-modal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="update-label">Update Top Player</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="update-player-form">
                                                <label for="input-playerFnameUpdated">First Name: </label>
                                                <br>
                                                <input type="text" name="input-playerFnameUpdated" id="input-playerFnameUpdated">
                                                <br>
                                                <label for="input-playerLnameUpdated">Last Name: </label>
                                                <br>
                                                <input type="text" name="input-playerLnameUpdated" id="input-playerLnameUpdated">
                                                <br>
                                                <label for="teamID-dropdown">Team ID:</label>
                                                <select class="form-control" id="teamID-dropdownUpdated">
                                                    {{#each ids}}
                                                    <option>{{this.teamID}}</option>
                                                    {{/each}}
                                                </select>
                                                <br>
                                                <label for="input-nationalityUpdated">Nationality: </label>
                                                <br>
                                                <input type="text" name="input-nationalityUpdated" id="input-nationalityUpdated">
                                                <br>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="update-player-info-btn" data-dismiss="modal">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 sidenav">
            {{!-- Form to add a record to the table --}}
            <label>
                <h2>Add a new Top Player</h2>
            </label>
            <form id="add-player-form">
                <label for="input-playerFname">First Name: </label>
                <br>
                <input type="text" name="input-playerFname" id="input-playerFname">
                <br>
                <label for="input-playerLname">Last Name: </label>
                <br>
                <input type="text" name="input-playerLname" id="input-playerLname">
                <br>
                <label for="teamID-dropdown">Team ID:</label>
                <select class="form-control" id="teamID-dropdown">
                    {{#each ids}}
                    <option>{{this.teamID}}</option>
                    {{/each}}
                </select>
                <br>
                <label for="input-nationality">Nationality: </label>
                <br>
                <input type="text" name="input-nationality" id="input-nationality">
                <br>

                <input type="submit">
            </form>
        </div>
    </div>
</div>
<script src="./scripts/add_player.js"></script>