<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">EPL Central</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/players">Players</a></li>
                <li><a href="/matches">Matches</a></li>
                <li class="active"><a href="/seasons">Seasons</a></li>
                <li><a href="/champions">Champions</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

        </div>
        <div class="col-sm-8 text-left">
            <label for="searchBar">
                <input type="text" placeholder="Search.." id="searchBar">
            </label>
            <br>
            {{!-- Create a table --}}
            <table id="season-table">

                {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we
                    know what each column means when the page renders --}}
                    <tr>
                        <th>ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Match Of The Season</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{!-- For each row --}}
                    {{#each data}}
                    <tr>
                        <td>{{this.seasonID}}</td>
                        <td>{{this.seasonStartDate}}</td>
                        <td>{{this.seasonEndDate}}</td>
                        <td>{{this.matchOfTheSeasonID}}</td>
                        <td class="input-td"><input id="delete-data" type="submit" value="Delete"></td>
                        <td class="input-td">
                            <input id="update-data" type="submit" value="Update" data-toggle="modal"
                                data-target="#update-modal">
                            <div class="modal fade" id="update-modal" tabindex="-1" role="dialog"
                                aria-labelledby="update-modal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="update-label">Update Season</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="update-season-form">
                                                <label for="input-seasonStartDateUpdated">Start Date: </label>
                                                <br>
                                                <input type="date" name="input-seasonStartDateUpdated"
                                                    id="input-seasonStartDateUpdated">
                                                <br>
                                                <label for="input-seasonEndDateUpdated">End Date: </label>
                                                <br>
                                                <input type="date" name="input-seasonEndDateUpdated"
                                                    id="input-seasonEndDateUpdated">
                                                <br>
                                                <label for="matchID-dropdownUpdated">Match Of The Season ID:</label>
                                                <select class="form-control" id="matchID-dropdownUpdated">
                                                    {{#each ids}}
                                                    <option>{{this.matchID}}</option>
                                                    {{/each}}
                                                </select>
                                                <br>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="update-season-btn">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 sidenav">
            {{!-- Form to add a record to the table --}}
            <label>
                <h2>Add a new Season</h2>
            </label>
            <form id="add-season-form">
                <label for="input-seasonStartDate">Start Date: </label>
                <br>
                <input type="date" name="input-seasonStartDate" id="input-seasonStartDate">
                <br>
                <label for="input-seasonEndDate">End Date: </label>
                <br>
                <input type="date" name="input-seasonEndDate" id="input-seasonEndDate">
                <br>
                <label for="matchID-dropdown">Match Of The Season ID:</label>
                <select class="form-control" id="matchID-dropdown">
                    {{#each ids}}
                    <option>{{this.matchID}}</option>
                    {{/each}}
                </select>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
<script src="./scripts/add_season.js"></script>
<script src="./scripts/update_season.js"></script>